.nav_link {
  font-size: 16px;
}

.nav_link:hover {
  background: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff;
}

.logo {
  margin-left: 30px;
}

.dropdown {
  margin-right: 30px;
}

.nav-item {
  padding: 5px !important;
}

.navbar {
  margin-bottom: 30px !important;
}
