
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$orange-yellow: #ffa04a;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dimgrey: dimgrey;
$lightslategrey: lightslategrey;
$gray-dark: #343a40;
$black: black;

// style
$px-5: 5px;
$px-10: 10px;
$px-11: 11px;
$px-12: 12px;
$px-16: 16px;
$px-20: 20px;
$px-40: 40px;
$px-45: 45px;
